name: CI
on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: ./bin/install-dev
      - name: Lint
        run: ./bin/lint
  test:
    name: "Test (${{ matrix.docker && format('{0} Docker', matrix.docker) || format('{0} host', matrix.host) }}${{ matrix.arch && format(' {0}', matrix.arch) || ''}})"
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker: debian
          - docker: ubuntu
          - docker: ubuntu
            arch: arm
          - docker: fedora
          - host: ubuntu
          - host: macos
    runs-on: ${{ matrix.host && format('{0}-latest', matrix.host) || matrix.arch && format('ubuntu-24.04-{0}', matrix.arch) || 'ubuntu-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: ./bin/install-dev --no-lint
      - name: Configure host system
        if: matrix.host
        run: ./bin/configure-ci-host
      - id: test
        name: Test
        uses: freckle/stack-action@v5
        with:
          cache-prefix: test
          stack-build-arguments: --fast --lock-file error-on-write --coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_IMAGE: ${{ matrix.docker }}
      - name: Rename coverage
        run: cp ${{ steps.test.outputs.local-hpc-root }}/mybox/tests/tests.tix ${{ strategy.job-index }}.tix
      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ strategy.job-index }}
          path: '*.tix'

  coverage:
    name: Coverage
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: ./bin/install-dev --no-lint
      - id: compile
        name: Compile
        uses: freckle/stack-action@v5
        with:
          # Run the suite to generate coverage skeleton, but no tests
          stack-build-arguments: --fast --lock-file error-on-write --coverage --ta "--match XXXXX"
          cache-prefix: coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download
        uses: actions/download-artifact@v7
        with:
          pattern: 'coverage-*'
          merge-multiple: true
      - name: Merge
        run: bin/merge-coverage *.tix > ${{ steps.compile.outputs.local-hpc-root }}/combined/all/all.tix
      - name: Convert
        uses: 8c6794b6/hpc-codecov-action@v4
        with:
          target: stack:all
      - name: Upload
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs:
      - lint
      - test
      - coverage
    if: ${{ github.ref == 'refs/heads/main' }}
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: ubuntu
            arch: arm
          - os: macos
    runs-on: ${{ matrix.arch && format('ubuntu-24.04-{0}', matrix.arch) || format('{0}-latest', matrix.os) }}
    name: "Build (${{ matrix.os }}${{ matrix.arch && format(' {0}', matrix.arch) || '' }})"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: ./bin/install-dev --no-lint
      - name: Set version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx \
            --package semantic-release@25 \
            --package semantic-release-replace-plugin@1 \
            --package semantic-release-stop@1 \
            semantic-release

      - id: compile
        name: Compile
        uses: freckle/stack-action@v5
        with:
          cache-prefix: build
          test: false
      - name: Move executable
        run: cp ${{ steps.compile.outputs.local-install-root }}/bin/mybox ./mybox-$(uname)-$(uname -m)
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: executable-${{ matrix.os }}-${{ matrix.arch || 'default' }}
          path: mybox-*

  publish:
    needs:
      - build
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: ./bin/install-dev --no-lint --no-haskell
      - name: Download executables
        uses: actions/download-artifact@v7
        with:
          pattern: 'executable-*'
          merge-multiple: true
          path: ./executables
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx \
            --package semantic-release@25 \
            semantic-release
